<ion-header >
  <ion-toolbar>
    <ion-buttons >
     
      
    </ion-buttons>
    <ion-title> Sistema Circulatorio
    
    </ion-title>

    
  </ion-toolbar>

  

</ion-header>

<ion-content>
  
  <div class="sketchfab-embed-wrapper">
    <ion-fab horizontal="left" vertical="top" slot="fixed">
      <ion-fab-button color="dark" >
        <ion-icon md="ellipsis-horizontal-circle" ios="chevron-up-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="button">
        <ion-fab-button color="light" href="../sistema-circulatorio">
          <ion-icon name="pulse-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" href="../sistema-respiratorio">
          <ion-icon name="fitness-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" href="">
          <ion-icon name="skull-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" [routerLink]="['/simulador-clases']">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <iframe title="A 3D model" width="400" height="600" src="https://sketchfab.com/models/464bef3ed2af444e8255059b9e07dcef/embed?annotation_cycle=5&amp;autospin=0.2&amp;autostart=1&amp;preload=1&amp;ui_controls=0&amp;ui_infos=0&amp;ui_inspector=0&amp;ui_stop=0&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/3d-models/heart-lungs-pulmonary-blood-circulation-464bef3ed2af444e8255059b9e07dcef?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Heart &amp; Lungs Pulmonary Blood Circulation</a>
        by <a href="https://sketchfab.com/intervoke?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">INTERVOKE</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
</div>
</ion-content>
