<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Simulación</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  p{
    text-align:right;
  }
</style>
<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>
          <h1>Traqueostomia</h1>
          <h4>Descripcion de la simulacion</h4>
          <p>
            <ion-button class="boton">
              <ion-icon name="color-wand-outline"></ion-icon>Practicar
            </ion-button>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
