<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Simulación</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  p{
    text-align:right;
  }
</style>
<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>
          <h1>Sistema Respiratorio</h1>
          <h4>El Estudiante podra visualizar de manera dinamica partes del sistema respiratorio y su estructura vital</h4>
          <p>
            <ion-button class="boton" href="../sistema-respiratorio">
              <ion-icon name="color-wand-outline"></ion-icon>Practicar
            </ion-button>
          </p>
        </ion-label>
        
        
      </ion-item>
      <ion-item>
        <ion-label>
          <h1>Sistema Circulatorio</h1>
          <h4>El Estudiante podra visualizar de manera dinamica partes del sistema Circulatorio y su estructura vital</h4>
          <p>
            <ion-button class="boton" href="../sistema-circulatorio">
              <ion-icon name="color-wand-outline"></ion-icon>Practicar
            </ion-button>
          </p>
        </ion-label>
        
        
      </ion-item>
    </ion-list>
  </ion-card>



</ion-content>
