<ion-header>
  <ion-toolbar>
    <ion-title >Ejercicios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-list>
    <ion-item>
      <ion-card-header><ion-label>Clase</ion-label></ion-card-header>
      <ion-card-subtitle>Titulo</ion-card-subtitle>
      <ion-button>
        <ion-icon name="caret-forward-outline"></ion-icon> Ver
      </ion-button>
      <ion-button>
        <ion-icon name="cloud-download-outline"></ion-icon> Descargar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label><ion-button>
        <ion-icon name="caret-forward-outline"></ion-icon> Ver
      </ion-button>
      <ion-button>
        <ion-icon name="cloud-download-outline"></ion-icon> Descargar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-card>
<ion-content>

</ion-content>
