<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
    <ion-title> Administrador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
     <ion-card>
      <div class="menu-header-bg"></div>
      <div class="contenido-header">
        <img src="../assets/images/adm.png" alt="Avatar Administrador">
      
        <br>
        <ion-label>
          <h2>Politecnico Internacional</h2>
          <p>Administrador</p>
        </ion-label>
      </div>
      <br>
      <br>
     
      <ion-card-content >
        <div class="center">
        <img src="https://i.ibb.co/gWmQtXT/cel1.png" alt="Cel1" class="ion-align-self-end">
      </div>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Sube Tu video! </ion-label>
         
        </ion-item>
        <ion-card-content>
        <p>Recuerda que no puedes superar los 30 Mb del peso. El video lo podras visualizar en el modulo de "Mis videos"
        </p></ion-card-content>
        <ion-button expand="block">Subir !!!</ion-button>
    </ion-card-content>

    <p>Politecnico internacional® By Oscar Rodriguez Lopez</p>
    </ion-card>

 
</ion-content>


    
  