<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
    <ion-title> Administrador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
     <ion-card>
      <div class="menu-header-bg"></div>
      <div class="contenido-header">
        <img src="../assets/images/adm.png" alt="Avatar Administrador">
      
        <br>
        <ion-label>
          <h2>Politecnico Internacional</h2>
          <p>Administrador</p>
        </ion-label>
      </div>
      <br>
      <br>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Usuario:</ion-label>
        <ion-button fill="outline" href="../actualizar-usu" slot="end">Actualizar</ion-button>
      </ion-item>
      <ion-card-content>
      
        <ion-list>
          <ion-list-header>Informacion:</ion-list-header>
          <ion-item>
            <ion-thumbnail slot="start">
              
              <img src="https://i.ibb.co/b27sV6k/videos.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Subir Videos:</h3>
              <p>Florence  </p>
              <ion-button>Abrir</ion-button>  
            </ion-label>
            
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://i.ibb.co/YhdZHkZ/notas.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Notas:</h3>
              <p>Nightingale</p>
              <ion-button>Abrir</ion-button>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://i.ibb.co/sW710vs/progreso.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Progreso Estudiantes:</h3>
              <p>1014283459</p>
              <ion-button>Abrir</ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://i.ibb.co/WkYtY5t/inter.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Portal interactivo:</h3>
              <p>Enfermeria</p>
              <ion-button>Abrir</ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="https://i.ibb.co/Cpyf2QK/10.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Sede:</h3>
              <p>Sede Central</p>
              <ion-button>Abrir</ion-button>
            </ion-label>
          </ion-item>
    
        </ion-list>
    </ion-card-content>
    <p>Politecnico internacional® By Oscar Rodriguez Lopez</p>
    </ion-card>

 
</ion-content>

